@charset "utf-8";
$demobackoffice-container-background: var(--bo-base-background);
$demobackoffice-container-font-family: var(--bo-font-family);
$demobackoffice-container-font-size: $font-size__base;
$demobackoffice-label-text-color: var(--bo-text-color);
